<!DOCTYPE html>
<html lang="th">
<head>
<meta charset="UTF-8">
<title>ปัญหาของคุณ</title>

<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">

</head>
<body>

<nav class="navbar">
<div class="nav-container">

<div class="brand">แจ้งปัญหา</div>

<ul class="nav-links">
<li><a href="/">หน้าหลัก</a></li>
<li><a href="/report">แจ้งปัญหา</a></li>
<li><a href="/my_reports">ปัญหาของคุณ</a></li>
</ul>

<div class="auth-buttons">
<a href="/logout" class="btn-logout">Logout</a>
</div>

</div>
</nav>


<main class="content-section">

<h2>ปัญหาที่คุณแจ้ง</h2>

<div class="issue-grid">

{% for r in reports %}

<div class="issue-card">

{% if r[2] %}
<img src="{{ url_for('static', filename='uploads/' + r[2]) }}">
{% endif %}

<h3>{{ r[0] }}</h3>

<p>{{ r[1] }}</p>

<p>
<i class="fa-solid fa-location-dot"></i>
{{ r[3] }}
</p>

<p>
<i class="fa-solid fa-user"></i>
{{ r[4] }}
</p>

<p class="status">
สถานะ: {{ r[5] }}
</p>

<p class="date">
<i class="fa-regular fa-clock"></i>
{{ r[6][:10] }}
</p>

</div>

{% endfor %}

</div>

</main>

</body>
</html>